/*--------------------------------------------------------------
# videos Section
--------------------------------------------------------------*/
.videos {
    width: 100%;
    /*min-height: 70vh;*/
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.videos .videos-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.9) blur(1px); /* Добавлено затемнение и легкое размытие */
    opacity: 0.9; /* Легкая прозрачность для создания глубины */
}


.videos .container {
    position: relative;
    z-index: 3;
}

.videos h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.videos h1 span {
    color: var(--accent-color);
}

.videos p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 5px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .videos .videos-img {
        max-width: 600px;
    }
}

@media (max-width: 640px) {
    .videos h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .videos p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

}

.videos strong {
    color: var(--accent-color);
}

.video-info {
    background: linear-gradient(
            rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)
    ), color-mix(in srgb, var(--surface-color), transparent 70%);
    backdrop-filter: blur(40px); /* Меньший эффект размытия для баланса */
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px 30px;
    transition: all ease-in-out 0.3s;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

/* Основные стили видео */
#video-player {
    width: 100%;
    max-width: 100%;
    min-height: 70vh;
    object-fit: cover;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    font-family: inherit !important;
}

/* Основные стили для кнопок переключения с эффектом стекла */
.video-control-button {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.3s, background-color 0.3s ease;
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон для эффекта стекла */
    border-radius: 50%; /* Закругленные края */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Тень */
    backdrop-filter: blur(8px); /* Эффект размытия фона */
    padding: 8px; /* Внутренние отступы */
}

.video-control-button:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.3); /* Более насыщенный цвет при наведении */
}

/* Расположение для левой кнопки */
.video-control-button.left {
    left: -20px; /* Отступ для больших экранов */
}

/* Расположение для правой кнопки */
.video-control-button.right {
    right: -20px; /* Отступ для больших экранов */
}

/* Центрирование заголовка видео */
.videos h2 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 1;
}

/* Центрирование control-bar */
.vjs-control-bar {
    background: none !important;
}

/* Мобильные стили */
@media (max-width: 768px) {
    /* Расположение кнопок над видео */
    .video-control-button {
        top: 10px;
        transform: none;
    }

    /* Отступы для кнопок слева и справа */
    .video-control-button.left {
        left: 10px;
    }

    .video-control-button.right {
        right: 10px;
    }

    /* Центрирование заголовка на мобильных */
    .videos h2 {
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        justify-content: center;
    }
}


.vjs-remaining-time-display {
    font-weight: bold;
    font-size: 1.2em;
}


.vjs-theme-city .vjs-progress-control .vjs-progress-holder {
    height: 5px;
}

.video-control-button {
    z-index: 10; /* Adjust as necessary */
}

/* Control bar should be above other elements */
.vjs-control-bar {
    z-index: 20;
}