{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>BirthdayWishes</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/video-js/video-js.min.css' %}" rel="stylesheet">


    <!-- CSS Files -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/structure.css' %}" rel="stylesheet">
    <link href="{% static 'css/videos.css' %}" rel="stylesheet">
    <link href="{% static 'css/wish.css' %}" rel="stylesheet">


    {% block content_css %}
    {% endblock %}

</head>

<body class="index-page">

{% include 'header.html' %}
<main class="main">
    {% block content %}
    {% endblock %}
</main>

{% include 'footer.html' %}

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/vue/vue.js' %}"></script>
<script src="{% static 'vendor/video-js/video.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/videos.js' %}"></script>

{% block content_js %}
{% endblock %}

</body>

</html>